<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Elektros kainų skaičiuoklė 2024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak class="container mx-auto px-4">
        <header class="flex justify-between text-center py-4">
            <h1 class="text-lg font-bold mb-2">Elektros kainų skaičiuoklė 2024m</h1>
            <a href="https://github.com/recallfx/elektros-kainu-skaiciuokle" target="_blank" class="flex items-center gap-2">
                <svg height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
        </header>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="space-y-4">
                <div>
                    <label for="energyConsumedSolar" class="block text-sm font-medium mb-2">Suvartota tiesiogiai iš
                        saulės (MWh):</label>
                    <div class="flex items-center space-x-4">
                        <input type="number" id="energyConsumedSolar" v-model="energyConsumedSolar" min="0" max="10"
                            class="shadow border rounded py-2 px-3 w-20 text-grey-darker">
                        <input type="range" v-model="energyConsumedSolar" min="0" max="10" step="1" class="flex-1">
                    </div>
                </div>

                <div>
                    <label for="energyStored" class="block text-sm font-medium mb-2">Atiduota į tinklą (MWh):</label>
                    <div class="flex items-center space-x-4">
                        <input type="number" id="energyStored" v-model="energyStored" min="0" max="10"
                            class="shadow border rounded py-2 px-3 w-20 text-grey-darker">
                        <input type="range" v-model="energyStored" min="0" max="10" step="1" class="flex-1">
                    </div>
                </div>

                <div>
                    <label for="energyConsumedGrid" class="block text-sm font-medium mb-2">Suvartota iš tinklo
                        (MWh):</label>
                    <div class="flex items-center space-x-4">
                        <input type="number" id="energyConsumedGrid" v-model="energyConsumedGrid" min="0" max="10"
                            class="shadow border rounded py-2 px-3 w-20 text-grey-darker">
                        <input type="range" v-model="energyConsumedGrid" min="0" max="10" step="1" class="flex-1">
                    </div>
                </div>

                <div>
                    <label for="solarCapacity" class="block text-sm font-medium mb-2">Saulės elektrinės dydis
                        (kW):</label>
                    <div class="flex items-center space-x-4">
                        <input type="number" id="solarCapacity" v-model="solarCapacity" min="0" max="40"
                            class="shadow border rounded py-2 px-3 w-20 text-grey-darker">
                        <input type="range" v-model="solarCapacity" min="0" max="40" step="1" class="flex-1">
                    </div>
                </div>
            </div>

            <div class="bg-white p-4 shadow rounded text-sm">
                <div>Viso pagaminta: {{energyProduced.toFixed(2)}} MWh</div>
                <div>Viso suvartota: {{energyConsumed.toFixed(2)}} MWh</div>
                <div>Savarankiškumas: {{energySufficiency.toFixed(2)}}%</div>
                <div class="flex flex-col">Balansas: {{energyBalance.toFixed(2)}} MWh<div
                    v-if="energyBalance > 0"
                    class="text-xs text-neutral-400">Atpirkimo tarifas {{priceSurplus}}€/kWh</div>
                </div>

                <hr class="my-1" />
                <div class="flex flex-col">Kaina įprastu tarifu: {{costStandard.toFixed(2)}}€<div
                        class="text-xs text-neutral-400">Tarifas {{priceStandard}}€/kWh</div>
                </div>
                <hr class="my-1" />
                <div class="flex flex-col text-body">1 varianto kaina: {{costOption1.toFixed(2)}}€<div
                        class="text-xs text-neutral-400">Atgavimo tarifas {{priceRetrieval}}€/kWh</div>
                </div>
                <hr class="my-1" />
                <div class="flex flex-col  text-body">2 varianto kaina: {{costOption2.toFixed(2)}}€<div
                        class="text-xs text-neutral-400">Už elektrinės galią {{priceForCapacity}}€kW/mėn</div>
                </div>
                <hr class="my-1" />
                <div class="flex flex-col  text-body">3 varianto kaina: {{costOption3.toFixed(2)}}€<div
                        class="text-xs text-neutral-400">Atiduodama dalis tinklui {{percentageFromStored * 100}}%</div>
                </div>
                <hr class="my-1" />
                <div class="pt-2 font-medium">{{bestOptionText}}</div>
            </div>
        </div>
    </div>

    <!-- Chart Section -->
    <div class="container mx-auto px-4 py-6 mt-6">
        <canvas id="costChart"></canvas>
    </div>


    <script type="module">
        import { createApp, ref, computed, watch } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js';

        let costChart;

        function calculateOption1Cost(energyStoredkWh, energyConsumedGridChartkWh, priceStandard, priceSurplus, priceRetrieval) {
            const energyReducedkWh = Math.min(energyStoredkWh, energyConsumedGridChartkWh);
            const energyAfterConsumptionkWh = energyConsumedGridChartkWh - energyStoredkWh;
            const energyStandardkWh = Math.max(energyAfterConsumptionkWh, 0);
            const energySurpluskWh = Math.min(energyAfterConsumptionkWh, 0);
            return (energyReducedkWh * priceRetrieval) + (energyStandardkWh * priceStandard) + (energySurpluskWh * priceSurplus);
        }

        function calculateOption2Cost(energyStoredkWh, energyConsumedGridChartkWh, priceStandard, priceSurplus, solarCapacity, priceForCapacity, monthsInYear) {
            const energyAfterConsumptionkWh = energyConsumedGridChartkWh - energyStoredkWh;
            const energyStandardkWh = Math.max(energyAfterConsumptionkWh, 0);
            const energySurpluskWh = Math.min(energyAfterConsumptionkWh, 0);

            if (solarCapacity > 0) {
                return (solarCapacity * priceForCapacity * monthsInYear) + (energyStandardkWh * priceStandard) + (energySurpluskWh * priceSurplus);
            }

            return energyStandardkWh * priceStandard;
        }

        function calculateOption3Cost(energyStoredkWh, energyConsumedGridChartkWh, priceStandard, priceSurplus, percentageFromStored) {
            const energyAfterDeductionkWh = energyStoredkWh - (energyStoredkWh * percentageFromStored);
            const energyAfterConsumptionkWh = energyConsumedGridChartkWh - energyAfterDeductionkWh;
            const energySurpluskWh = Math.min(energyAfterConsumptionkWh, 0);
            const energyStandardkWh = Math.max(energyAfterConsumptionkWh, 0);
            return (energyStandardkWh * priceStandard) + (energySurpluskWh * priceSurplus);
        }

        function updateChart(costOptions1, costOptions2, costOptions3, consumedRange, storedEnergy, storedEnergyMinus33, energyConsumedGrid) {
            const ctx = document.getElementById('costChart').getContext('2d');
            if (costChart) {
                costChart.destroy(); // Destroy the old chart instance before creating a new one
            }

            costChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: consumedRange,
                    datasets: [
                        {
                            label: 'Variantas 1: Sumažintas tarifas',
                            data: costOptions1,
                            borderColor: 'green',
                            fill: false,
                            pointStyle: false,
                        },
                        {
                            label: 'Variantas 2: Mokėti už galią',
                            data: costOptions2,
                            borderColor: 'red',
                            fill: false,
                            pointStyle: false,
                        },
                        {
                            label: 'Variantas 3: 33% atiduoti į tinklą',
                            data: costOptions3,
                            borderColor: 'purple',
                            fill: false,
                            pointStyle: false,
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: 'Kaina (€)'
                            },
                            beginAtZero: true
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Suvartota elektros energija iš tinklo (MWh)'
                            }
                        }
                    },

                    animation: {
                        duration: 0 // Disable animation
                    },
                    plugins: {
                        legend: {
                            display: true,
                            align: 'start',
                            position: 'top',
                            boxHeight: 2,
                        },
                        annotation: {
                            annotations: [
                                {
                                    type: 'line',
                                    borderColor: 'black',
                                    borderWidth: 2,
                                    borderDash: [10, 5],
                                    scaleID: 'x',
                                    value: storedEnergy / 1000,
                                },
                                {
                                    type: 'line',
                                    scaleID: 'x',
                                    value: storedEnergyMinus33 / 1000,
                                    borderColor: 'black',
                                    borderWidth: 1,
                                    borderDash: [10, 5]
                                },
                                {
                                    type: 'line',
                                    scaleID: 'x',
                                    value: energyConsumedGrid,
                                    borderColor: 'red',
                                    borderWidth: 1,
                                },
                            ]
                        }
                    }
                }
            });
        }

        function calculateCosts(energyStoredkWh, energyConsumedSolar, energyConsumedGrid, solarCapacity, priceStandard, priceSurplus, priceRetrieval, priceForCapacity, percentageFromStored, monthsInYear) {
            const consumedRange = [];
            const costOptions1 = [];
            const costOptions2 = [];
            const costOptions3 = [];

            for (let energyConsumedGridChart = 0; energyConsumedGridChart <= 10; energyConsumedGridChart += 1) {
                const energyConsumedGridChartkWh = energyConsumedGridChart * 1000; // Convert MWh to kWh

                costOptions1.push(calculateOption1Cost(energyStoredkWh, energyConsumedGridChartkWh, priceStandard, priceSurplus, priceRetrieval));
                costOptions2.push(calculateOption2Cost(energyStoredkWh, energyConsumedGridChartkWh, priceStandard, priceSurplus, solarCapacity, priceForCapacity, monthsInYear));
                costOptions3.push(calculateOption3Cost(energyStoredkWh, energyConsumedGridChartkWh, priceStandard, priceSurplus, percentageFromStored));

                consumedRange.push(energyConsumedGridChart.toFixed(0));
            }

            updateChart(costOptions1, costOptions2, costOptions3, consumedRange, energyStoredkWh, energyStoredkWh * (1 - percentageFromStored), energyConsumedGrid);
        }

        createApp({
            setup() {
                // Default values 2024
                const priceStandard = 0.227;
                const priceRetrieval = 0.07139;
                const priceForCapacity = 5.2514;
                const percentageFromStored = 33 / 100;
                const monthsInYear = 12;
                const priceSurplus = 0.086; // 2023m atpirkimo tarifas

                // Input values with default values
                const energyStored = ref(5);
                const energyConsumedSolar = ref(5);
                const energyConsumedGrid = ref(5);
                const solarCapacity = ref(10);

                const energyStoredkWh = computed(() => Number(energyStored.value) * 1000);
                const energyConsumedSolarkWh = computed(() => Number(energyConsumedSolar.value) * 1000);
                const energyConsumedGridkWh = computed(() => Number(energyConsumedGrid.value) * 1000);
                const energyConsumed = computed(() => Number(energyConsumedSolar.value) + Number(energyConsumedGrid.value));
                const energyProduced = computed(() => Number(energyConsumedSolar.value) + Number(energyStored.value));


                const energySufficiency = computed(() => energyConsumed.value > 0 ? (Number(energyConsumedSolar.value) / energyConsumed.value * 100) : 0);
                const energyBalance = computed(() => (Number(energyStored.value) - Number(energyConsumedGrid.value)));
                const costStandard = computed(() => (energyConsumedSolarkWh.value + energyConsumedGridkWh.value) * priceStandard);
                const costOption1 = computed(() => calculateOption1Cost(energyStoredkWh.value, energyConsumedGridkWh.value, priceStandard, priceSurplus, priceRetrieval));
                const costOption2 = computed(() => calculateOption2Cost(energyStoredkWh.value, energyConsumedGridkWh.value, priceStandard, priceSurplus, Number(solarCapacity.value), priceForCapacity, monthsInYear));
                const costOption3 = computed(() => calculateOption3Cost(energyStoredkWh.value, energyConsumedGridkWh.value, priceStandard, priceSurplus, percentageFromStored));

                const bestOptionText = computed(() => {
                    const bestOption = Math.min(costOption1.value, costOption2.value, costOption3.value);

                    if (bestOption === costOption1.value && bestOption === costOption2.value && bestOption === costOption3.value) {
                        return 'Visi variantai kainuoja vienodai';
                    } else if (bestOption === costOption1.value) {
                        return '1 variantas yra pigiausias';
                    } else if (bestOption === costOption2.value) {
                        return '2 variantas yra pigiausias';
                    } else if (bestOption === costOption3.value) {
                        return '3 variantas yra pigiausias';
                    } else {
                        return 'Nėra pigiausio varianto';
                    }
                });

                watch([energyStoredkWh, energyConsumedSolar, energyConsumedGrid, solarCapacity], ([energyStoredkWhNew, energyConsumedSolarNew, energyConsumedGridNew, solarCapacityNew]) => {
                    calculateCosts(energyStoredkWhNew, energyConsumedSolarNew, energyConsumedGridNew, solarCapacityNew, priceStandard, priceSurplus, priceRetrieval, priceForCapacity, percentageFromStored, monthsInYear);
                }, { immediate: true });

                return {
                    priceStandard,
                    priceSurplus,
                    priceRetrieval,
                    priceForCapacity,
                    percentageFromStored,

                    energyStored,
                    energyConsumedSolar,
                    energyConsumedGrid,
                    energyConsumed,
                    solarCapacity,

                    energyProduced,
                    energySufficiency,
                    energyBalance,
                    costStandard,
                    costOption1,
                    costOption2,
                    costOption3,
                    bestOptionText,
                }
            }
        }).mount('#app')    
    </script>
</body>

</html>